<div class="card" style="width: 20rem;">
    <img class="card-img-top" [src]="bien.image" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{bien.title | uppercase}}</h5>
      <p class="card-text">{{bien.descrition}}</p>
      <hr>
      <span class="float-left btn btn-sm btn-outline-danger disabled">{{bien.price | separator : "."}}</span>
      <span class="float left text center btn btn-sm disabled">{{bien.creAte | editTime}}</span>
      <a [routerLink]="[bien.id]" class="btn btn-sm btn-primary float-right">Go somewhere</a>
    </div>
  </div>
