<div class="card" style="width: 20rem;">
    <img class="card-img-top" src="https://source.unsplash.com/1080x780/?computer,home" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <hr>
      <span class="float-left btn btn-sm btn-outline-danger disabled">400 000fcfa</span>
      <span class="float left text center btn btn-sm disabled">Il y'a 23 h</span>
      <a href="#" class="btn btn-sm btn-primary float-right">Go somewhere</a>
    </div>
  </div>
