<h3>reservation-biens works!</h3>
<div class="row">
    <div class="col-sm-7">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Bien</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>
                        <a [routerLink]="['/reservations',1]" class="btn btn-sm btn-outline-info mr-2">Details</a>
                        <a [routerLink]="['/reservations',1,'edit']" class="btn btn-sm btn-outline-warning">Infos</a>
        </td>
    </tr>
    <tr>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>
            <a [routerLink]="['/reservations',2]" class="btn btn-sm btn-outline-info mr-2">Details</a>
            <a [routerLink]="['/reservations',2,'edit']" class="btn btn-sm btn-outline-warning">Infos</a>
        </td>
    </tr>
    <tr>
        <td>Larry</td>
        <td>the Bird</td>
        <td>
            <a [routerLink]="['/reservations',3]" class="btn btn-sm btn-outline-info mr-2">Details</a>
            <a [routerLink]="['/reservations',3,'edit']" class="btn btn-sm btn-outline-warning">Infos</a>
        </td>
    </tr>
</tbody>
</table>
    
</div>
    <div class="col">
        <router-outlet></router-outlet>
    </div>
</div>
